@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #000000, #DAA520);
}


header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* WAS: margin-botton: 20px;*/
}

.logo{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: #ffc600;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #FDE800;
}

.timeline{
    margin: 5px auto;
    max-width: 38em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1.5em;
}

h2{
    color: #ffc600;
}

.checkpoint p{
    line-height: 27px;
    color: #ffc600;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #fff;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #fff;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #fff;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #fff;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}


